.body{
    background-color:rgb(88, 102, 233);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(139, 136, 136);
  color: white;
  text-align: center;
}
.table table-bordered{
    text-align: center;
    background-color: rgb(37, 34, 231);
}
.col-sm-8{
    padding-top: 10px;
}